Report for {{ month }}
=====================

{{ '{: ^10}'.format('Date') }}| {{ '{: ^8}'.format('In') }}| {{ '{: ^7}'.format('Out') }}| {{ '{: ^7}'.format('Total') }}| {{ '{: ^7}'.format('Breaks') }}| {{ '{: ^14}'.format('Break length') }}| {{ '{: ^12}'.format('Time worked') }}
{{ '{:_^80}'.format('') }}
{% for day in (workdays|sort(attribute='day')) -%}
{% set working_hours = (day.total|str2sec) - day.break_secs|default(0,true) -%}
{{ '%-10s'|format(day.day) }}| {{ '%-8s'|format(day.intime) }} {{ '%-8s'|format(day.outtime) }} {{ '%-8s'|format(day.total) }} {{ '{: ^7}'.format(day.num_breaks) }} {{ '{: ^16}'.format(day.break_secs | sec2str) }} {{  '{: ^12}'.format(working_hours|sec2str) }} {{'%s'|format(day.notes or "") }}
{% endfor %}
Total this month: {{ total_month }}, excluding break time {{ (totals.total_day|default(0,true) - totals.total_break|default(0, true)) | sec2str }}
